@use "../../scss/variables" as *;
@use "../../scss/mixin" as *;

  .circle {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5em;
    width: 250px;

    .e-c-base {
      fill: none;
      stroke: #b6b6b6;
      stroke-width: 4px;
    }
    .e-c-progress {
      fill: none;
      stroke: rgba(231, 231, 231, 0.173);
      stroke-width: 4px;
      transition: stroke-dashoffset 0.7s;
    }
    .e-c-pointer {
      fill: #fff;
      stroke: rgba(231, 231, 231, 0.173);
      stroke-width: 2px;
    }
    #e-pointer {
      transition: transform 0.7s;
    }
    .controlls {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
    }
    .display-remain-time {
      font-weight: 200;
      font-size: 3rem;
      color: white;
    }

    @include sm{
      width: 330px;
    }
  }

  .buttons{
    @include flexBox();
    font-size: 2.5rem;
    .stopBtn{
      margin: .5em;
    }

    @include sm{
      font-size: 3.5rem;
      *{
        cursor: pointer;
        transition: .3s ease-in-out;
        :hover{
          transform: scale(1.1)
        }
      }
    }
  }

