*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    color: white;
    background-image: linear-gradient(to right bottom, #2a0342, #5b075b, #900d6f, #c8187c, #ff2d82);
    height: 100vh;
}