@use "../../scss/mixin" as *;
@use "../../scss/variables" as *;

.navbar {
  @include flexBox(space-between);
  margin: 0.5em;
  padding: 0.7em;

  .search-bar {
    padding: 1em 0.2em 0.5em 1em;
    position: relative;
    input {
      background: $primary-background;
      border: transparent;
      height: 2.7em;
      width: 300px;
      border-radius: 5px;
      font-size: 1.2rem;
      outline: none;
      padding-left: 0.5em;
      caret-color: white;
      color: white;

      &::placeholder {
        color: #ffffffb4;
        padding-left: 0.5em;
        font-size: 1rem;
      }
    }
    button {
      position: absolute;
      background: none;
      color: white;
      outline: none;
      border: none;
      margin: 0;
      font-size: 1.2rem;
      left: 70%;
      top: 40%;
      cursor: pointer;
    }

    .suggestionContainer {
      padding: 0;
      position: absolute;
      top: 70%;
      left: 0%;
      z-index: 99999;
      .suggestionItem {
        padding: 1em 0.2em 0.5em 1em;
        height: 2em;
        width: 290px;
        border-radius: 0;
        background-color: white;
        color: black;
        border-bottom: 1px solid black;
      }
    }
  }

  .navigation {
    display: none;
  }

  .mobile-navigation {
    .mobile-navigation-links {
      position: absolute;
      right: 0%;
      width: 100%;

      .nav-links {
        padding: 1em 0;
        background-color: rgba(27, 27, 27, 0.911);
        margin-top: 1em;
        height: 100vh;
        *:not(:first-child) {
          padding: 1em 0.2em 0.5em 1em;
          cursor: pointer;
        }

        .search-bar {
          button {
            padding: 0;
          }
        }

        .profilePicture {
          border-radius: 50%;
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }
    }
  }

  @include sm {
    .mobile-navigation {
      display: none;
    }

    .navigation {
      display: block;

      .search-bar {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1em;

        input {
          width: 400px;
          padding-left: 1em;
          font-size: 1rem;
          height: 2em;
        }

        button {
          top: 5%;
          position: absolute;
          left: 85%;
          display: flex;
        }

        .suggestionContainer {
          top: 75%; //c

          .suggestionItem {
            width: 405px; //c
          }
        }
      }

      .nav-links {
        @include flexBox();

        p {
          cursor: pointer;
          transition: 0.2s ease-in-out;
          &:hover {
            background-color: white;
            color: black;
          }
        }

        * {
          padding: 0.5em;
          border-radius: 10px;
        }

        .profilePicture {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          object-fit: cover;
          border: 2px solid white;
          padding: 0;
          cursor: pointer;
          margin: 0 1em;
        }
      }
    }
  }
}
